html, body {
  background: #000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div {
  float: left;
}

.volume {
  background-color: blue;
  width: 10%;
}

.centroid {
  background-color: green;
  width: 10%;
}

.bar-container {
  width: 80%;
  height: 100%;
}

.bar {
  background-color: red;
}