.preview-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.pattern-selector {
  display: inline-block;
  vertical-align: top;

  .preview-view {
    position: relative;

    canvas {
      border: 1px solid $lighter-color;
      height: 192px;
    }

    &:hover {
      .expander {
        opacity: 1
      }
    }

    .expander {
      position: absolute;
      bottom: 5px;
      left: 1px;
      background-color: black;
      padding: 2px 4px;
      cursor: pointer;
      opacity: 0;
    }

    .mock-label {
      position: absolute;
      background: black;
      top: 1px;
      left: 1px;
    }
  }

  .selector-area {
    width: 300px;
    max-height: 200px;
    overflow-y: scroll;

    select {
      width: 200px;
    }
  }
}