.nav-bar {
  height: $nav-bar-height;
  line-height: $nav-bar-height;
  background: #222;
  width: 100%;
  font-size: 20px;
  padding-left: 10px;

  div {
    display: inline-block
  }

  .logo {
    width: 42px;
    height: 40px;
    margin-top: 5px;
    background-size: contain;
    float: left;
    background-image: url(../img/1E_logo_white.png);
  }

  .title {
    padding-left: 15px;
  }
}