.nav-bar {
  height: 50px;
  line-height: 50px;
  background: #222;
  width: 100%;
  font-size: 20px;
  padding-left: 10px; }
  .nav-bar div {
    display: inline-block; }
  .nav-bar .logo {
    width: 42px;
    height: 40px;
    margin-top: 5px;
    background-size: contain;
    float: left;
    background-image: url(../img/1E_logo_white.png); }
  .nav-bar .title {
    padding-left: 15px; }

.side-menu {
  position: relative;
  float: left;
  height: 100%;
  width: 200px;
  background-color: #333333;
  transition: width 0.5s; }
  .side-menu.hiding {
    width: 15px; }
  .side-menu .handle {
    height: 100%;
    position: absolute;
    width: 15px;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    background: #222;
    cursor: pointer; }
    .side-menu .handle .inner-handle {
      cursor: pointer;
      height: 15px;
      width: 15px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto; }
  .side-menu .controls {
    width: 185px;
    height: 100%;
    transition: width 0.5s;
    padding: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; }

.preview-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px; }

.pattern-selector {
  display: inline-block;
  vertical-align: top; }
  .pattern-selector .preview-view {
    position: relative; }
    .pattern-selector .preview-view canvas {
      border: 1px solid #333333;
      height: 192px; }
    .pattern-selector .preview-view:hover .expander {
      opacity: 1; }
    .pattern-selector .preview-view .expander {
      position: absolute;
      bottom: 5px;
      left: 1px;
      background-color: black;
      padding: 2px 4px;
      cursor: pointer;
      opacity: 0; }
    .pattern-selector .preview-view .mock-label {
      position: absolute;
      background: black;
      top: 1px;
      left: 1px; }
  .pattern-selector .selector-area {
    width: 300px;
    max-height: 200px;
    overflow: scroll; }
    .pattern-selector .selector-area select {
      width: 200px; }

.beat-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background: black;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV"; }
  .beat-preview .bar-container {
    width: 100%;
    height: 70%; }
    .beat-preview .bar-container .bar {
      background-color: #002;
      float: left; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: sans-serif;
  overflow: hidden; }

.content-area {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px; }
  .content-area .previews {
    padding: 10px; }
