<div class="handle">
  <div class="inner-handle">
    +
  </div>
</div>

<div class="controls">
  Show Real: <input type="checkbox" class="menu-check show-real" {{#if showReal}}checked="checked"{{/if}}></input>
  <br/>
  Show Mock: <input type="checkbox" class="menu-check show-mock" {{#if showMock}}checked="checked"{{/if}}></input>
  <br/>
  <button class="swap-mock-real">Copy Mock Patterns to Real</button>
  <button class="swap-real-mock">Copy Real Patterns to Mock</button>
</div>